
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  
    .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  .navbar {
    background-image: url("../img/bg-verde.jpg");
  }
  
  .nav-link, .navbar-nav {
    color: white;
    font-size: 1.5rem;
  }