.titulosH1 {
  color: #285f56;
}

.btn-primary {
  background-color: #285f56;

  hover {
    background-color: #55867e;
  }
}

.productTxt {
  margin-left: 2rem;
}

.card {
  margin-bottom: 2rem;
  justify-content: center;
}
